<button type="submit" class="c-btn c-btn--success u-ml-small" data-toggle="modal">
    <i class="fa fa-save u-mr-xsmall"></i>
    Создать задачу
</button>
<a href="{{ path('tasks') }}" class="c-btn c-btn--secondary u-ml-small">
    <i class="fa fa-share u-mr-xsmall"></i>
    К списку
</a>