<div class="c-field c-field--inline has-icon-right u-hidden-down@tablet">
    <label for="search-projects" class="u-visually-hidden"></label>
    <input class="c-input" id="search-projects" type="text" placeholder="Поиск задачи">
    <span class="c-field__icon">
                        <i class="fa fa-search"></i>
                    </span>
</div>

<a href="{{ path('tasks_new') }}" class="c-btn c-btn--info u-ml-small">
    Новая задача
</a>