<div class="filter"
     style="z-index: 1; position: fixed; background: linear-gradient(180deg,#fff,#f2f4f7); padding: 10px; border-radius: 3px; margin-left: -2px; margin-top: 15%;"
>
    <i class="fa fa-filter"></i>
</div>