{% extends 'tasks/layout.html.twig' %}

{% block title %} Задача №{{ id }} {% endblock %}

{% block toolbar %}
    <div class="c-toolbar u-mb-medium">
        <h3 class="c-toolbar__title has-divider">Задача №{{ id }}</h3>
        <span class="c-toolbar__title has-divider u-hidden-visually" task-number>{{ id }}</span>
        <h5 class="c-toolbar__meta u-mr-auto">Просмотр и управление задачей</h5>
        {{ include('tasks/blocks/actions_task.html.twig') }}
    </div>
{% endblock %}

{% block content %}
    <main style="padding-top: 170px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4">
                    <task-details></task-details>
                    <task-members></task-members>
                </div>
                <div class="col-xl-8">
                    <task></task>
                    <comments></comments>
                </div>
            </div>
        </div><!-- // .container -->
    </main><!-- // .o-page__content -->
{% endblock %}