{% extends 'tasks/layout.html.twig' %}

{% block title %} Менеджер задач {% endblock %}

{% block toolbar %}
    <div class="c-toolbar u-mb-medium">
        <h3 class="c-toolbar__title has-divider">Задачи для разработки</h3>
        <h5 class="c-toolbar__meta u-mr-auto">Управление задачами</h5>
        {{ include('tasks/blocks/actions_tasks.html.twig') }}
    </div>
{% endblock %}

{% block filters %}
    <filters></filters>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 96%; padding-top: 170px;">
        <div class="row u-mb-large">
            <div class="col-sm-12">
                <div class="c-table-responsive@desktop">
                    <tasks v-bind:search="search"></tasks>
                </div>
            </div>
        </div>
    </div>
{% endblock %}