{% extends 'tasks/layout.html.twig' %}

{% block title %} Создание задачи {% endblock %}

{% block toolbar %}
    <div class="c-toolbar u-mb-medium">
        <h3 class="c-toolbar__title has-divider">Новая задача</h3>
        <h5 class="c-toolbar__meta u-mr-auto">Информация о новой задаче</h5>
        {{ include('tasks/blocks/actions_new_task.html.twig') }}
    </div>
{% endblock %}

{% block content %}
    <main style="padding-top: 170px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4">
                    <details-create></details-create>
                </div>
                <div class="col-xl-8">
                    <task-create></task-create>
                </div>
            </div>
        </div>
    </main>
{% endblock %}