{% extends 'tasks/layout.html.twig' %}

{% block title %}Оой. Страница не найдена.{% endblock %}

{% block body %}
    <div class="o-page o-page--center">
        <div class="o-page__card" style="padding-top: 30px;">

            <div class="c-card u-mb-small">
                <header class="c-card__header u-text-center u-pt-large">
                        <span class="c-card__icon">
                            <i class="fa fa-chain-broken"></i>
                        </span>
                    <h1 class="u-text-big u-mb-zero">
                        404 <em class="u-block u-text-mute u-text-large">Страница не найдена</em>
                    </h1>
                </header>

                <div class="c-card__body">
                    <h2 class="u-h5 u-text-center u-mb-medium">
                        Извините, но мы не смогли найти страницу, которую вы искали.
                    </h2>
                </div>
            </div>

            <div class="o-line u-justify-center">
                <a class="u-text-mute" href="{{ path('tasks') }}">
                    <i class="fa fa-long-arrow-left u-mr-xsmall"></i>Перейти к задачам
                </a>
            </div>

        </div>
    </div>
{% endblock %}