{% extends 'base.html.twig' %}

{% block body %}
    <h1 align="center">TaskBoard</h1>
    <div ref="words" data-words="{{ words|join(',') }}">
    <div id="app">
        <words></words>
        <w2></w2>
        <words3></words3>
    </div>
{% endblock %}