{% extends 'base.html.twig' %}

{% block body %}
    <div style="position: fixed; z-index: 1; width: 100%;">
        {{ include('tasks/blocks/header.html.twig') }}
        {% block toolbar %}{% endblock %}
    </div>
    {% block filters %}{% endblock %}
    {% block content %}{% endblock %}
{% endblock %}
